backports.entry-points-selectable==1.1.1
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.0.3
colorama==0.4.4
distlib==0.3.4
filelock==3.4.0
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
mathparse==0.1.2
nltk==3.6.6
packaging==21.3
Pint==0.18
platformdirs==2.4.0
pycryptodome==3.12.0
pymongo==3.12.3
pyparsing==3.0.6
python-dateutil==2.7.5
pytz==2021.3
PyYAML==3.13
regex==2021.11.10
six==1.16.0
SQLAlchemy==1.2.19
touch==2020.12.3
tqdm==4.62.3
values==2020.12.3
virtualenv==20.10.0
Werkzeug==2.0.2
